@{
    ViewBag.Title = "About Wellnut";
}
<head>
    <link rel="stylesheet" href="~/Content/css/About.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="~/Content/media/logo.png" alt="Logo" height="100" width="150" /></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">@Html.ActionLink("About", "Index", "About", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Log in", "Index", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
    <div class="container-aboutpage">
        <h1>About Wellnut</h1>
        <h2>We’re committed to building a healthier world for everyone.</h2>
        <p>
            Everything we do at Wellnut is driven by a singular mission:
            to help as many people as possible live healthier lives through behavior change. We focus on making sure you can log your meals as quickly and easily as possible. Because the easier we make it for you, the more likely you are to stay on track, and the more likely you are to succeed in your weight loss goals.
        </p>
        <p id="question">Ready to take control of your health for good?</p>

        <input class="button" type="button" value="SIGN UP" onclick="location.href='@Url.Action("Index", "SignUp")'" />
    </div>
</body>
<footer>
    <p id="contact">Contact: contact@wellnut.com</p>
</footer>